@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

* {
    font-family: 'Noto Sans KR';
}

.avatar-sm{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.jumbotron{
    background-image: url("/resources/images/kb_bank.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*color: black;*/
    padding: 2rem;
    margin-top: 3rem;
}